body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: purple;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: mediumpurple;
}
.header-title {
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}